.clock{
 background-color: orange;
 height: 150px;
 width: 150px;
 border-radius: 50%;
 height: 100%;
 padding: 75px;
}

img{
 width: 1200px;
 height: 600px;
 border: 4px outset gray;
}

table {
 border-collapse: collapse;
}

th,
td {
 border: 1px solid black;
 padding: 10px;
 text-align: center;
}

th {
 background-color: lightgray;
}

td:hover {
 background-color: lightblue;
 cursor: pointer;
}
